# Sistema operativo
*.DS_Store
Thumbs.db

# Entorno virtual
venv/
*.pyc
__pycache__/
db.sqlite3

# Archivos de configuración sensibles
*.env
.env

# Archivos del editor
.vscode/
.idea/

# Archivos y carpetas de migraciones generadas automáticamente
*/migrations/*

# Archivos estáticos y media generados
/static/
/media/
