@use 'bootstrap' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Reseteo de márgenes y padding
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Rubik", serif;
  font-optical-sizing: auto;

}

// color de etiquetas 
.text-dark {
  --bs-text-opacity: 1;
  color: rgb(255 255 255) !important;
}

//Enlace de navbar 
.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
}

//Enlace de configuaración
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

// Variables de color
$Light: #1f2072;
$gray: #e7e9eb;


// Estilos para la barra de navegación

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
  }
}


.navbar {
  background: $Light !important;
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray;
}

.container-fluid{
  display: flex;
}

.flex{
  display: flex;
}

.sidebar{
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 1px solid $gray;
  ul{
    list-style: none;
    padding: 0;
    li{
      margin: 0.5rem 0;
      a{
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        padding: 0.5rem 0;
        border-radius: 5px;
        transition: 0.3s;
        &:hover{
          background: $gray;
        }
        &.active{
          background-color: gray;
        }
      }
    }
  }
}


.bg-blue{
  background: $Light !important;
}